    <div class="brand-bar-wrapper"><div class="brand-bar">
        <div class="brand-logo">
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/ui/img/drc.logo.horizontal.png"
                width="247"
                height="42"
                alt="Hofstra Digital Research Center" /></a>
        </div>
        <div class="brand-tagline">
            <p><a href="http://hofstradrc.org/">About the DRC</a> <a href="http://hofstradrc.org/contact/">Start a Project</a></p>
        </div>
    </div></div>
