<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!--[if gte IE 10]><!-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" type="text/css" href="{{ site.asset_url }}/ui/css/styles.css" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/ui/css/site-styles.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="{{ site.asset_url }}/ui/fancybox/jquery.fancybox.css" type="text/css" media="screen" />

<script type="text/javascript" src="{{ site.asset_url }}/ui/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{{ site.asset_url }}/ui/js/scripts.js"></script>

<!-- <![endif]-->

{% include search_support_head.html %}
